<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <style>
        a{
            color: #fff318;
            text-decoration: aquamarine none;
            font-size: 35px;
        }
        a:hover{
            color: #ff2121;
            text-decoration: aquamarine underline;
            transition: 0.5s ease-in-out;
        }
    </style>
</head>
<body>
<a href="/doctors">Doctors</a> <br>
<a href="/patients">Patients</a> <br>
<a href="/appointments">Appointment</a> <br>
</body>
</html>